<footer class="l-footer p-footer">
  <div class="l-inner">

    <div class="p-footer__top">
      <div class="p-footer__menu">
        <ul class="p-footer__menu-list">
          <li class="p-footer__menu-item"><a href="">お部屋</a></li><!-- /.p-footer__menu-item -->
          <li class="p-footer__menu-item"><a href="">お料理</a></li><!-- /.p-footer__menu-item -->
          <li class="p-footer__menu-item"><a href="">温泉</a></li><!-- /.p-footer__menu-item -->
        </ul><!-- /.p-footer__menu-lists -->
      </div><!-- /.p-footer__menu -->
      <div class="p-footer__logo">
        <% if (param === 'top') { %>
        <img src="images/common/footer-logo.svg" alt="">
        <% } else { %>
        <img src="../images/common/footer-logo.svg" alt="">
        <% } %>
      </div><!-- /.p-footer__logo --> 

      <div class="p-footer__wrapper">

        <div class="p-footer__body">
          <p class="p-footer__text">〒000-0000</p><!-- /.p-footer__text -->
          <p class="p-footer__text"><span>山形県鶴岡市</span>xxxxxxxxxxx</p><!-- /.p-footer__text -->
        </div><!-- /.p-footer__body -->
        <div class="p-footer__body">
          <p class="p-footer__text">TEL.000-0000-0000</p><!-- /.p-footer__text -->
          <p class="p-footer__text">FAX.00-0000-0000</p><!-- /.p-footer__text -->
        </div><!-- /.p-footer__body -->
      </div><!-- /.p-footer__wrapper --> 
      </div><!-- /.p-footer__top -->
    </div><!-- /.l-inner -->

    <div class="p-footer__bottom">
      <div class="p-footer__copy">Copyright  &copy; 石井花壇 All Rights Reserved.</div><!-- /.p-footer__copy -->
    </div><!-- /.p-footer__bottom -->

</footer>
