<div class="p-sub-mv">
  <div class="p-sub-mv__img">
    <img src="<%= image %>" alt="">
  </div><!-- /.sub-mv__img -->
   <h1 class="p-sub-mv__title">
    <%= title %>
   </h1><!-- /.sub-mv__title -->
</div><!-- /.sub-mv -->

