<div class="c-secion-tiitle">
  <div class="c-section-title__img">
    <img src="images/common/section-logo.png" alt="ロゴ">
  </div><!-- /.c-section-title__img -->
  <div class="c-section-title__title">
    <%= title %>
  </div><!-- /.c-section-title__title -->
</div>
