<article class="p-card-lux">
  <a href="">

    <div class="p-card-lux__header">
      <figure class="p-card-lux__figure">
        <img src="<%= image %>" alt="お知らせの画像" >
      </figure>
    </div>
    <div class="p-card-lux__body">
      <time class="p-card-lux__time"><%= time %></time>
      <h3 class="p-card-lux__title"><%= title %></h3>
    </div>
    
  </a>
</article>