
  <div  id="js-modal" class="p-modal">
    <form action="" class="p-modal__form">
      <h2 class="p-modal__title">宿泊予約</h2><!-- /.p-modal__title -->
      
      <div class="p-modal__contents">
        
        <div class="p-modal_content">
          <div class="p-modal_head">
            <p class="p-modal_content-title">お名前</p><!-- /.p-modal_title -->
          </div><!-- /.p-modal_head -->
          <div class="p-modal_item p-modal-text">
            <input class="p-modal-text__text" type="text" placeholder=" 例：石井正悟">
          </div><!-- /.p-modal_item -->
        </div><!-- /.p-modal_content -->
        
        <div class="p-modal_content">
          <div class="p-modal_head">
            <p class="p-modal_content-title">メールアドレス</p><!-- /.p-modal_title -->
          </div><!-- /.p-modal_head -->
          <div class="p-modal_item p-modal-text">
            <input class="p-modal-text__text" type="text" placeholder="例：Example@example.com">
          </div><!-- /.p-modal_item -->
        </div><!-- /.p-modal_content -->
        
        <div class="p-modal_content">
          <div class="p-modal_head">
            <p class="p-modal_content-title">ご希望プラン（空いているプランのみ表示されます）</p><!-- /.p-modal_title -->
          </div><!-- /.p-modal_head -->
          <div class="p-modal_item p-modal-select">
           <select class="p-modal-select__text">
              <option>プランを選択して下さい。</option>
              <option >①【期間限定】海辺の四季旬彩、贅沢美味懐石プラン</option>
              <option>②平日に優雅に楽しむ、特別宿泊プラン</option>
              <option>③絶景貸切露天と個室会席を満喫できるファミリープラン</option>
            </select>   
          </div><!-- /.p-modal_item -->
        </div><!-- /.p-modal_content -->
        
        <div class="p-modal_content">
          <div class="p-modal_head">
            <p class="p-modal_content-title">日時選択</p><!-- /.p-modal_title -->
          </div><!-- /.p-modal_head -->
          <div class="p-modal_item p-modal-text">
            <input type="text" name="datepicker" id="js-datepicker" class="p-modal-text__text">
          </div><!-- /.p-modal_item -->
        </div><!-- /.p-modal_content -->
        
        
        <div class="p-modal__button">
          <input class="p-modal-button" type="submit" value="送信する">
        </div>
        
      </div><!-- /.p-modal__contents -->

      <div id="js-modal-close" class="p-modal__close">
        <img src="images/common/close.jpg" alt="">
      </div><!-- /.p-modal__close -->
      
    </form><!-- /.p-modal__form -->
    
    
  </div><!-- /.p-modal -->
  
  <div id="js-modal-background" class="p-modal__background"></div><!-- /.p-modal__background -->


