// 色
$background: #fff; // 背景
$text-color: #000000; // テキスト色
$btn-color: #978F10; // 予約ボタン色

// マウスホバー
$opacity: 0.7; // 透過度

a {
	transition:  all .3s;
}

a:hover {
	opacity: $opacity;
}

// フォント
$font-family-base: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”,
“ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,
“ＭＳ Ｐ明朝”, “MS PMincho”, serif;
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 500; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1180px; // インナー幅
$l-pc: 1440px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",

);




$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
